@use '../../abstracts' as *;

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background: linear-gradient(90deg, $dark, darken($dark, 5%));
    color: $primary;
    z-index: 1;
}