@use '../abstracts' as *;
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 0;
}
.container-fluid {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  img {
    max-width: 50%;
    margin: 0 auto;
  }
}
.container-grid {
  display: grid;
  top: 0;
  left: 0;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.5rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
}
.container-sidebar { 
  margin-top: 7.5vh;
  padding: 0;
  min-width: 10%;
  max-width: 30%;
  width: 20%;
  display: block;
  background: linear-gradient(45deg, $trans-dark, darken($trans-dark, 20%));
  color: $primary;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  ul {
    list-style-type: none;
    padding: 0;
    li {
      padding: 8px 8px 8px 16px;
      text-decoration: none;
      display: block;
      transition: 0.3s;
      &:hover {
        background-color: $primary;
        color: $dark;
      }
    }
  }
}
.container-content {
  margin-top: 5%;
  padding: 0;
  min-width: 70%;
  max-width: 90%;
  display: block;
  background-color: $transparent;
  color: $primary;
  position: fixed;
  top: 0;
  left: 20%;
  height: 100%;
  overflow: auto;
}
.container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}