@use 'abstracts' as *;
@use 'components' as *;
@use 'layouts' as *;
@use 'mixins' as *;

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family;
  line-height: $line-height;
  font-size: $font-size;
}

button {
  cursor: pointer;
  background-clip: none;
}
* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-header;
  background: linear-gradient(45deg, darken($tertiary, 10%), lighten($primary, 20%));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  @media screen and (max-width: 768px) {
    font-size: 1.75rem;
  }
  span {
    font-size: 1.15rem;
  }
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: $light;
    background: $dark;
  }
}
